html{
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll; 
    overflow-x:hidden !important;    
}

input, textarea{
    margin-top: 20px;
}

input:last-child, textarea:last-child{
    margin-bottom: 20px;
}

#navbar a{
    color : white;
    margin-left: 40px;
    text-decoration: none;
}

button{
    margin-left: 10px;
}

a:hover , button:hover , .post:hover{
    opacity: 80%;
    font-weight: bolder;
}
.error{
    color: red;
    font-weight: bolder;
    text-align: center;
}

#spinner_container {
    margin: 40px;
}

#spinner_div{
    font-size: 150px;
}
#header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* The Modal (background) */
.modal {
    display: block !important;
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: initial !important;
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    /*-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.4s*/
  }
  
  /* Add Animation */
  /*@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }*/
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    margin:2px;
    background-color: white;
    color: black;
    border: solid white 2px;
    position: sticky; top: 0;
  }

  .col{
    margin: 2px;
    border: solid black 2px;
  }

  .modal-body{
    padding: 2px 16px;
    background-color: white;
  }
  
  #closeSpan:hover{
    cursor: pointer;
  }

  .justify_right{
    text-align: right;
  }

  span.btn-success{
    margin: 3px;
  }

  div#map_container div#myModal{
    overflow-y: scroll !important;
    color: red;
  }

  .partidos{
     border: solid 2px white;
     padding: 3px;
     padding-left: 15px;
     margin: 3px;
     color: white;
  }

  .partidos:hover{
    cursor:pointer;
    background-color:  #ccebff !important;
    font-weight: bolder;
    color: black;
  }

  #partidos_header_row, #tipos_header_row{
    margin: 3px;
  }

  #col_header{
    background-image: url(../img/logo_gba_footer_blanco.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    min-height: 60px;
    border: transparent;
    margin-left: 30px;;

  }
  