html{
    font-family: 'Roboto', sans-serif;
}
input, textarea{
    margin-top: 20px;
}
input:last-child, textarea:last-child{
    margin-bottom: 20px;
}
#navbar a{
    color : white;
    margin-left: 40px;
    text-decoration: none;
}
.post{
    cursor:pointer;
    background-color: #CBFAED;
}
.post:first-child, .response:first-child{
    margin-top: 10px;
}
.response{
    background-color: #CCD8FA;
}

button{
    margin-left: 10px;
}
#borrar_respuesta_button{
    float: right;
    margin: 5px;
}
a:hover , button:hover , .post:hover{
    opacity: 80%;
    font-weight: bolder;
}
.error{
    color: red;
    font-weight: bolder;
    text-align: center;
}
#post_container{
    margin-top: 10px;
    background-color: rgb(221, 226, 235);
}
#post_container button{
    margin-bottom: 10px;
}
#spinner_container {
    margin: 40px;
}
#add_post_button , #enviar_respuesta_button{
    margin-top: 5px;
}
#spinner_div{
    font-size: 150px;
}
#header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
#left_header{
    background-position: center;
}
#right_header{
    background-position: center;
}
#footer_posts{
    text-align: center;
    cursor:auto;
    background-color: transparent;
}
#footer_posts a{
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }